extends layout

block content
  img.background(src='images/world.png')
  .container
    .row
      .col-md-12
        h1= title
        form.form-inline
          .form-group
            label
              span.glyphicon.glyphicon-search
              input(type='text' name='search')#search-input.form-control.form-margin
              button(type='submit')#search-countries.btn.btn-default Search Countries
        .row
          #main-content.col-md-12
          a#load-countries.btn.btn-default(href='#') Load Countries
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
  script(src='/javascripts/main.js')